fastapi
uvicorn
python-dotenv
google-genai
langchain-groq
langchain-google-genai
firebase-admin
cloudinary
requests
pydantic
annotated-types
anyio
protobuf
google-api-core
google-auth
google-cloud-firestore
google-cloud-storage
httpx
httpcore
